{% extends 'mail_base.html' %}
{% load staticfiles %}
{% block content %}
<tr>
    <td colspan="13" background="{{ server_name }}{% static 'subscription/img/gray-bg.jpg' %}" style="height: 404px; vertical-align: top; border-top: 1px solid #dadada; background-color: #fefefe">
        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
            <tr>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="34" height="10" alt="x"/></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="301" height="64" alt="x"/></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="365" height="10" alt="x"/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma">{{ header|safe }}</td>
                <td rowspan="4" valign="top">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                        <tr>
                            <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="66" alt=""/></td>
                            <td><img src="{{ server_name }}{% static 'subscription/img2/general_viz.gif' %}" alt="ТЦ Весна"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="35" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma; color: #2a2a2a">{{ description|safe }}</td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="126" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 11px; font-family: tahoma">{{ footer|safe }}</td>
                <td><br></td>
            </tr>

        </table>
    </td>
</tr>

{% endblock %}
