{% load static %}
{% load fb_versions %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>
<body>
<table width="700" align="center" bgcolor="white" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
    <tr>
        <td>
            <table width="100%" bgcolor="white" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                <tr>
                    <td bgcolor="white">
                        <table width="100%" bgcolor="white" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                            <tr>
                                <td>
                                    <a href="{{ SERVER_NAME }}/">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/logo_2.gif' %}" alt="лого">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ SERVER_NAME }}/brands">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/menu1_2.gif' %}" alt="магазины">
                                    </a>
                                </td>
                                <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot-menu_2.gif' %}" width="24" height="52" alt="x"></td>
                                <td>
                                    <a href="{{ SERVER_NAME }}/restaurants">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/menu2_2.gif' %}" alt="рестораны">
                                    </a>
                                </td>
                                <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot-menu_2.gif' %}" width="23" height="52" alt="x"></td>
                                <td>
                                    <a href="{{ SERVER_NAME }}/cinema">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/menu3_2.gif' %}" alt="кино">
                                    </a>
                                </td>
                                <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot-menu_2.gif' %}" width="23" height="52" alt="x"></td>
                                <td>
                                    <a href="{{ SERVER_NAME }}/entertainments">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/menu4_2.gif' %}" alt="развлечения">
                                    </a>
                                </td>
                                <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot-menu_2.gif' %}" width="23" height="52" alt="x"></td>
                                <td>
                                    <a href="{{ SERVER_NAME }}/children">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/menu5_2.gif' %}" alt="детям">
                                    </a>
                                </td>
                                <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot-menu_2.gif' %}" width="24" height="52" alt="x"></td>
                                <td>
                                    <a href="{{ SERVER_NAME }}/events">
                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/menu6_2.gif' %}" alt="акции">
                                    </a>
                                </td>
                                <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot-menu_2.gif' %}" width="37" height="52" alt="x"></td>
                            </tr>
                            <tr>
                                <td colspan="13" style="font-family: Arial; font-size: 16px; padding: 20px 0 7px 35px; color: #1a88c7">{{ accost }} {{ first_name }}!</td>
                            </tr>
                            <tr>
                                <td colspan="13">
                                    <img src="{{ SERVER_NAME }}{% static 'subscription/images/headline.jpg' %}" style="display: block; border: 0;" alt='Представляем подборку грядущих событий в ТРК "ВЕСНА"'/>
                                </td>
                            </tr>

                             {% if special %}
                                <tr>
                                    <td colspan="13">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #31b8da;">
                                            <tr>
                                                <td width="300">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #31b8da;">
                                                        <tr>
                                                            <td width="36" height="88"></td>
                                                            <td width="230" height="88"><img src="{{ SERVER_NAME }}{% static 'subscription/images/event-headline_2.jpg' %}" style="display: block; border: 0;"/></td>
                                                            <td width="33" height="88"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="35"></td>

                                                            <td width="232"><img src="{{ SERVER_NAME }}/{% version special.event.image_ru.path '230_mail' %}" width="232" style="display: block; border: 0; width:232px;"/></td>
                                                            <td width="33"></td>
                                                        </tr>
                                                        <tr>
                                                            <td collspan="3" height="23"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-family: Arial; font-size: 16px; padding: 31px 35px 0 0; color: #1a88c7; vertical-align: top;">
                                                    <span style="color: #007d9d; font-size: 24px;">{{ special.event.start_date|date:"j" }}</span>
                                                    <span style="color: #007d9d; font-size: 12px;">{{ special.event.start_date|date:"E" }}</span><br/>
                                                    <b style="color: #000; font-size: 20px;">{{ special.event.title_ru }}</b>
                                                    <div style="color: #000; font-size: 14px; line-height: 18px;">
                                                        {{ special.event.description_ru|safe|truncatewords:30 }}
                                                    </div>
                                                    <a href="{{ SERVER_NAME }}/events/{{ special.event.pk }}/"><img src="{{ SERVER_NAME }}{% static 'subscription/images/button_blue.jpg' %}" alt="узнать больше" style="display: block; border: 0;"/></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}

                            {% if favorite_weekend %}
                                <tr>
                                    <td colspan="13">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #d13f85;">
                                            <tr>
                                                <td width="300">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #d13f85;">
                                                        <tr>
                                                            <td width="36" height="100"></td>
                                                            <td width="230" height="100"><img src="{{ SERVER_NAME }}{% static 'subscription/images/event-headline.jpg' %}" width="230" style="display: block; border: 0; width: 230px;"/></td>
                                                            <td width="34" height="100"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="36"></td>
                                                            <td width="230"><img src="{{ SERVER_NAME }}/{% version favorite_weekend.event.image_ru.path '230_mail' %}" width="230" style="display: block; border: 0; width: 230px;"/></td>
                                                            <td width="34"></td>
                                                        </tr>
                                                        <tr>
                                                            <td collspan="3" height="31"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-family: Arial; font-size: 16px; padding: 31px 35px 0 0; color: #1a88c7; vertical-align: top;">
                                                    <span style="color: #ff87c1; font-size: 24px;">{{ favorite_weekend.event.start_date|date:"j" }}</span>
                                                    <span style="color: #ff87c1; font-size: 12px;">{{ favorite_weekend.event.start_date|date:"E" }}</span><br/>
                                                    <span style="color: #FFF; font-size: 20px;">{{ favorite_weekend.event.title_ru }}</span>
                                                    <div style="color: #FFF; font-size: 14px; line-height: 18px;">
                                                        {{ favorite_weekend.event.description_ru|safe|truncatewords:30 }}
                                                    </div>
                                                    <a href="{{ SERVER_NAME }}/events/{{ favorite_weekend.event.pk }}/">
                                                        <img src="{{ SERVER_NAME }}{% static 'subscription/images/button.jpg' %}" alt="узнать больше" style="display: block; border: 0;"/>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}



                            {% if for_children %}
                                <tr>
                                    <td colspan="13">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #6ada84;">
                                            <tr>
                                                <td width="300">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #6ada84;">
                                                        <tr>
                                                            <td width="36" height="100"></td>
                                                            <td width="230" height="100"><img src="{{ SERVER_NAME }}{% static 'subscription/images/event-headline_3.jpg' %}" style="display: block; border: 0;"/></td>
                                                            <td width="35" height="100"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="36"></td>
                                                            <td width="230"><img src="{{ SERVER_NAME }}/{% version for_children.event.image_ru.path '230_mail' %}" width="230" style="display: block; border: 0; width:230px;"/></td>
                                                            <td width="35"></td>
                                                        </tr>
                                                        <tr>
                                                            <td collspan="3" height="31"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-family: Arial; font-size: 16px; padding: 31px 35px 0 0; color: #1a88c7; vertical-align: top;">
                                                    <span style="color: #a4ffb9; font-size: 24px;">{{ for_children.event.start_date|date:"j" }}</span>
                                                    <span style="color: #a4ffb9; font-size: 12px;">{{ for_children.event.start_date|date:"E" }}</span><br/>
                                                    <span style="color: #FFF; font-size: 20px;">{{ for_children.event.title_ru }}</span>
                                                    <div style="color: #000; font-size: 14px; line-height: 18px;">
                                                        {{ for_children.event.description_ru|safe|truncatewords:30 }}
                                                    </div>
                                                    <a href="{{ SERVER_NAME }}/events/{{ for_children.event.pk }}/"><img src="{{ SERVER_NAME }}{% static 'subscription/images/button_green.jpg' %}" alt="узнать больше" style="display: block; border: 0;"/></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}


                            <tr>
                                <td colspan="13">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; background: #d0a34c; font-size: 14px; font-family: Arial; color: #FFF">
                                        <tr>
                                            <td>
                                                <img src="{{ SERVER_NAME }}{% static 'subscription/images/actions_and_sale.jpg' %}" style="display: block; border: 0;" alt='Акции и скидки'/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Arial; font-size: 16px; padding: 31px 0 0 35px; vertical-align: top;line-height: 21px;">
                                                {% for item in actions %}
                                                    <b style="font-size: 14px">{% if not item.event.entertainment %}{{ item.event.shop.name_ru }}{% else %}{{ item.event.entertainment.title }}{% endif %} → </b>
                                                    <a href="{{ SERVER_NAME }}/events/{{ item.event.pk }}/" style="text-decoration: underline; color: #fff297;">{{ item.event.title_ru }}</a><br/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" height="40" width="10" alt=""/></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 11px; font-family: tahoma; padding: 0 0 10px 35px;">Чтобы отписаться от рассылки, пройдите по <a href="{{ unsubscribe_url }}" style="color: #FFF">ссылке</a>.</td>

                                            <td><img src="{{ read_url }}" height="1" width="1" style="visibility: hidden"/></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="13" background="{{ SERVER_NAME }}{% static 'subscription/images/footer-bg.jpg' %}">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                        <tr>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="33" height="44"></td>
                                            <td style="color: #ffffff; font-size: 11px; font-family: tahoma">&copy; 2014 ТРЦ «Весна» Алтуфьево</td>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="100" height="44"></td>
                                            <td>
                                                <a href="http://instagram.com/VESNA_TRK">
                                                <img src="{{ SERVER_NAME }}{% static 'subscription/images/icon1.png' %}" alt="x">
                                                </a>
                                            </td>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="7" height="44"></td>
                                            <td>
                                                <a href="http://vk.com/vesnatrk">
                                                    <img src="{{ SERVER_NAME }}{% static 'subscription/images/icon2.png' %}" alt="x">
                                                </a>
                                            </td>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="7" height="44"></td>
                                            <td>
                                                <a href="https://www.facebook.com/vesnatrk">
                                                    <img src="{{ SERVER_NAME }}{% static 'subscription/images/icon_fb.png' %}" alt="x">
                                                </a>
                                            </td>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="7" height="44"></td>
                                            <td>
                                                <a href="https://ru.foursquare.com/v/трц-весна/5348ef89498ed70ddb33165c">
                                                    <img src="{{ SERVER_NAME }}{% static 'subscription/images/icon7.png' %}" alt="x">
                                                </a>
                                            </td>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="160" height="44"></td>
                                            <td>
                                                <a href="http://www.ailove.ru">
                                                    <img src="{{ SERVER_NAME }}{% static 'subscription/images/icon3.png' %}" alt="ailove.ru">
                                                </a>
                                            </td>
                                            <td><img src="{{ SERVER_NAME }}{% static 'subscription/images/dot.gif' %}" alt="x" width="38" height="44"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>