{% extends 'mail_base.html' %}
{% load staticfiles %}
{% block content %}
    <td colspan="13" background="{{ server_name }}{% static 'subscription/img/blue-bg.jpg' %}" style="height: 404px; vertical-align: top; border-top: 1px solid #abd3da; background-color: #c4f2fa">
        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
            <tr>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="34" height="10" alt="x"/></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="301" height="64" alt="x"/></td>
                <td background="{{ server_name }}{% static 'subscription/img2/blue2.jpg' %}" rowspan="6">
                    <table width="365" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                        <tr>
                            <td colspan="3"><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="83" height="198" alt=""/></td>
                        </tr>
                        <tr>
                            <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="115" height="10" alt=""/></td>
                            {% if not image %}
                                <td><img src="{{ server_name }}{% static 'subscription/img2/img2.png' %}" alt=""/></td>
                            {% else %}
                                <td><img src="{{ server_name }}{{ image }}" alt=""/></td>
                            {% endif %}
                            <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="70" height="10" alt=""/></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="76" height="27" alt=""/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma">{{ accost }} {{ first_name }}!</td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="35" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma; color: #2a2a2a">{{ description|safe }}</td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="1" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 11px; font-family: tahoma">Чтобы отписаться от рассылки, пройдите по <a href="{{ unsubscribe_url }}" style="color: #ea1a94">ссылке</a>.</td>
            </tr>
        </table>
    </td>
</tr>

{% endblock %}