{% extends 'mail_base.html' %}
{% load staticfiles %}
{% block content %}
<tr>
    <td colspan="13" style="height: 404px; vertical-align: top; border-top: 1px solid #dadada; background-color: #fefefe; background-image: url({{ server_name }}{% static 'subscription/img/gray-bg.png' %}); background-position: 0 0; background-repeat: no-repeat">
        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
            <tr>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="34" height="10" alt="x"/></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="301" height="64" alt="x"/></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="365" height="10" alt="x"/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma">{{ accost }} {{ first_name }}!</td>
                <td rowspan="4" valign="top">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                        <tr>
                            <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="66" alt=""/></td>
                            <td><img src="{{ server_name }}{% static 'subscription/img2/general_viz.gif' %}" alt="ТЦ Весна"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="35" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma; color: #2a2a2a">{{ description|safe }}</td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="126" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 11px; font-family: tahoma">Чтобы отписаться от всех рассылок, пройдите по <a href="{{ unsubscribe_url }}" style="color: #ea1a94">ссылке</a>.</td>
                <td><br></td>
            </tr>

                {% if unsubscribe_sms_url %}
                    <tr>
                        <td><br></td>
                        <td style="font-size: 11px; font-family: tahoma">Чтобы отписаться от смс рассылок, пройдите по <a href="{{ unsubscribe_sms_url }}" style="color: #ea1a94">ссылке</a>.</td>
                        <td><br></td>
                    </tr>
                {% endif %}
        </table>
    </td>
</tr>

{% endblock %}