{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <table width="700" align="center" bgcolor="white" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
            <tr>
                <td>
                    <table width="100%" bgcolor="white" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                        <tr>
                            <td bgcolor="white">
                                <table width="100%" bgcolor="white" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                    <tr>
                                        <td>
                                            <a href="http://www.ailove.ru"><img src="{{ server_name }}{% static 'subscription/img/logo.gif' %}" alt="лого"></a>
                                        </td>
                                        <td>
                                            <a href="{{ server_name }}/ru/brands"><img src="{{ server_name }}{% static 'subscription/img/menu1.gif' %}" alt="магазины"></a>
                                        </td>
                                        <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="24" height="52" alt="x"></td>
                                        <td>
                                            <a href="{{ server_name }}/ru/restaurants"><img src="{{ server_name }}{% static 'subscription/img/menu2.gif' %}" alt="рестораны"></a>
                                        </td>
                                        <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="23" height="52" alt="x"></td>
                                        <td>
                                            <a href="{{ server_name }}/ru/cinema"><img src="{{ server_name }}{% static 'subscription/img/menu3.gif' %}" alt="кино"></a>
                                        </td>
                                        <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="23" height="52" alt="x"></td>
                                        <td>
                                            <a href="{{ server_name }}/ru/entertainments/3"><img src="{{ server_name }}{% static 'subscription/img/menu4.gif' %}" alt="развлечения"></a>
                                        </td>
                                        <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="23" height="52" alt="x"></td>
                                        <td>
                                            <a href="{{ server_name }}/ru/children"><img src="{{ server_name }}{% static 'subscription/img/menu5.gif' %}" alt="детям"></a>
                                        </td>
                                        <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="24" height="52" alt="x"></td>
                                        <td>
                                            <a href="{{ server_name }}/ru/events"><img src="{{ server_name }}{% static 'subscription/img/menu6.gif' %}" alt="акции"></a>
                                        </td>
                                        <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="37" height="52" alt="x"></td>
                                    </tr>
                                    
                                    {% block content %}
                                    {% endblock %}
                                    
                                    <tr>
                                        <td colspan="13" background="{{ server_name }}{% static 'subscription/img/footer-bg.jpg' %}" style="background-color: #e15184">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                                                <tr>
                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="33" height="44"></td>
                                                    <td style="color: #ffffff; font-size: 11px; font-family: tahoma">&copy; 2014 ТРЦ «Весна» Алтуфьево</td>
                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="118" height="44"></td>
                                                    <td><a href="http://instagram.com/VESNA_TRK"><img src="{{ server_name }}{% static 'subscription/img/icon1.png' %}" alt="x"></a></td>
                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="7" height="44"></td>
                                                    <td><a href="http://vk.com/vesnatrk"><img src="{{ server_name }}{% static 'subscription/img/icon2.png' %}" alt="x"></a></td>
                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="7" height="44"></td>
                                                    <td><a href="https://www.facebook.com/vesnatrk"><img src="{{ server_name }}{% static 'subscription/img/fb_subsc.png' %}" alt="x" width="21" height="21"></a></td>

                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="36" height="44"></td>
                                                    <td><a href="http://www.c-p.ru/ru/news"><img src="{{ server_name }}{% static 'subscription/img/footer-logo2.png' %}" alt="" height="36"></a></td>

                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="20" height="44"></td>
                                                    <!--td><a href="http://www.alto-assets.ru/"><img src="{{ server_name }}{% static 'subscription/img/footer-logo1.png' %}" alt="" height="36"></a></td>

                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="14" height="44"></td-->
                                                    <td><a href="http://www.ailove.ru"><img src="{{ server_name }}{% static 'subscription/img/icon3.png' %}" alt="ailove.ru"></a></td>
                                                    <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" alt="x" width="38" height="44"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
