{% extends 'mail_base.html' %}
{% load staticfiles %}
{% block content %}
<tr>
    <td colspan="13" background="{{ server_name }}{% static 'subscription/img2/yellow1.jpg' %}" style="background-image:url({{ server_name }}{% static 'subscription/img2/yellow1.jpg' %}); height: 404px; vertical-align: top; border-top: 1px solid #ceb618; background-color: #fde022">
        <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
            <tr>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="34" height="10" alt="x"/></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="301" height="64" alt="x"/></td>
                <td background="{{ server_name }}{% static 'subscription/img2/yellow2.jpg' %}" style="background-image: url({{ server_name }}{% static 'subscription/img2/yellow2.jpg' %}); background-color: #fde022" rowspan="6">
                    <table width="365" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                        <tr>
                            <td colspan="3"><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="83" height="82" alt=""/></td>
                        </tr>
                        <tr>
                            <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="89" height="10" alt=""/></td>
                            <td><img src="{{ server_name }}{{ image }}" alt=""/></td>
                            <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="51" height="10" alt=""/></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" width="76" height="98" alt=""/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma">{{ accost }} {{ first_name }}!</td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="35" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 14px; font-family: tahoma; color: #2a2a2a">{{ description|safe }}</td>
            </tr>
            <tr>
                <td><br></td>
                <td><img src="{{ server_name }}{% static 'subscription/img/dot.gif' %}" height="126" width="10" alt=""/></td>
            </tr>
            <tr>
                <td><br></td>
                <td style="font-size: 11px; font-family: tahoma">Чтобы отписаться от рассылки, пройдите по <a href="{{ unsubscribe_url }}" style="color: #ea1a94">ссылке</a>.</td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}

